* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.App {
  text-align: center;
  background-color: FBF9F9;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: rgba(255, 255, 255, 0.822);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

row{
  height: 40%;
}

.navbar-nav.navbar-center {
  position: absolute;
  left: 75%;
  transform: translatex(-45%);
  top: 5%;
  color: rgba(255, 255, 255, 0.822);
  align-items: center;
}

.navbar{
  position: absolute;
  left: 75%;
  transform: translatex(-45%);
  top: 5%;
  color: rgba(255, 255, 255, 0.822);
  align-items: center;
}

.container .code-container {
  background-color: white;
  border: 1% solid #d1d3e2;
  border-radius: 5px;
  -webkit-text-fill-color: black;
  display: flex;
  overflow: hidden;
}

.item{
  padding: 5%;
}

h5{
  -webkit-text-fill-color: #2D55B4;
  font-weight: 150;
  font-size: small;
}

h4{
  -webkit-text-fill-color: #2D55B4;
  font-weight: 150;
  font-size: small;
}

h2{
  -webkit-text-fill-color: #2D55B4;
  font-weight: 150;
  font-size: small;
}

p{
  -webkit-text-fill-color: #1c3672;
}

table{
  font-size:14px
}

.d-flex{
  font-size:large;
}

.row-spacing {
  margin-bottom: 20px
}

.reminder {
  font-size: smaller;
}

.textocard{
  font-weight: bolder;
  font-size: small;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.video-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #000; /* Fondo negro para que se vea bien el video */
  overflow: hidden;

  .video-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #000; /* Fondo negro para que se vea bien el video */
  }
}